**/.DS_Store
FarmTypeManager/data/
Grandpa's Farm/[CM] Grandpa's Farm/data
Grandpa's Farm/[FTM] Grandpa's Farm/data
Stardew Valley Expanded/[FTM] Stardew Valley Expanded/data
Grandpa's Farm/[FTM] Grandpa's Farm/data/Grandpas_268634572_SaveData.save
Ridgeside Village Mod/[FTM] Ridgeside Village/data/Grandpas_268634572_SaveData.save
Stardew Valley Expanded/[FTM] Stardew Valley Expanded/data/Grandpas_268634572_SaveData.save
